<div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 py-4">
        <div class="flex flex-col items-center justify-center">
        <%= link_to 'Snap Notes', root_path , class: 'font-medium text-3xl py-8' %>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
        <div class="border border-black rounded-md flex flex-col items-center py-4 px-6">

<h2 class="font-medium text-2xl mb-8">Sign up</h2>


  <div class="flex flex-col my-4 min-w-96">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'border border-black rounded-md mt-1 focus:border-black' %>
  </div>

  <div class="flex flex-col my-4 min-w-96">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %>
    <%= f.password_field :password, autocomplete: "new-password", class: 'border border-black rounded-md mt-1 focus:border-black' %>
  </div>

  <div class="flex flex-col my-4 min-w-96">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'border border-black rounded-md mt-1 focus:border-black' %>
  </div>

   <div class="flex flex-col items-center mb-4 mt-8">
    <%= f.submit "Sign up", class: 'border border-black bg-black text-white rounded-md py-2 px-6 hover:bg-white hover:text-black hover:ml-1 hover:-mt-1 hover:border-b-4 hover:border-r-4' %>

  </div>

<% end %>


        </div>
        <div class="mt-6">
<%= render "devise/shared/links"%>
        </div>
        </div>
</div>
